@model DMGestionDeTareas.Models.DMTarea

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DMTarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DMTareaId" />
            <div class="form-group">
                <label asp-for="DMTitulo" class="control-label"></label>
                <input asp-for="DMTitulo" class="form-control" />
                <span asp-validation-for="DMTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DMDescripcion" class="control-label"></label>
                <input asp-for="DMDescripcion" class="form-control" />
                <span asp-validation-for="DMDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DMFechaVencimiento" class="control-label"></label>
                <input asp-for="DMFechaVencimiento" class="form-control" />
                <span asp-validation-for="DMFechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DMPrioridadId" class="control-label"></label>
                <select asp-for="DMPrioridadId" class="form-control" asp-items="ViewBag.DMPrioridadId"></select>
                <span asp-validation-for="DMPrioridadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DMCategoriaId" class="control-label"></label>
                <select asp-for="DMCategoriaId" class="form-control" asp-items="ViewBag.DMCategoriaId"></select>
                <span asp-validation-for="DMCategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
